.small-margin-bottom {

    margin-top: -10px;
    margin-left: -10px;
    width: 100vw;
    /* margin-bottom: 4.8rem !important; */
}

.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(206, 227, 230);

    height: 5rem;
    padding: 0 5.8rem;

    position: relative;
    font-size: 1.2rem;

}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav a {
    cursor: pointer;
}

.main-nav-link {
    color: #006480;
    text-decoration: underline 3px;
    text-decoration-skip-ink: none;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #006480;
    text-decoration: underline 3px;
    text-decoration-skip-ink: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
    color: black;

}

.nav-name {
    display: flex;
    align-items: center;

}

.doctor_list {
    border: 2px solid #e8e8e8;
    display: block;
    padding: 20px;
    /* position: relative; */
    /* cursor: pointer; */
    margin: 10px 40px 10px 40px;
}

.doctor_list_text {
    display: block;
    margin: 20px 20px 0px 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #4c4c4c;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /* margin: 0; */
    padding-bottom: 15px;
    border-bottom: 3px solid #e8e8e8;
    text-decoration: none;
}


#doctor_list_img {
    position: absolute;
    left: 85%;
    border-radius: 100%;
    padding: 7px;
    border: solid 0.5px #00a0bd;
    bottom: 4%;
}



form {
    display: inline;
}

.container_doctor {
    margin: 20px;
    display: flex;
    border: solid 2px #e8e8e8;
}

.doctor-text {
    display: inline-block;
}

.doctor_block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 20px;

}

.time_container {
    display: flex;
    flex-grow: 1;


}

.day-container {
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
    border-left: solid 2px #e8e8e8;
    padding: 10px;

}

.day-container button {
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
}


.container_talon {
    margin: 20px;
    display: flex;
    border: solid 2px #e8e8e8;
    width: 80%;
    margin-left: 10%;
}

.talon-doctor-text {
    display: inline-block;
    color: #187f84;
    font-weight: 700;
    text-transform: uppercase;
}

.doctor_block {
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 20px;

}


.doctor_block_userpage {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    padding: 20px;

}

.talon_time_container {
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
    border-left: solid 2px #e8e8e8;
    padding: 10px;
    text-transform: uppercase;
    /* background-color: red; */
}

.talon_time_container button {
    width: 20%;
    align-items: center;
    position: relative;
    left: 40%;
    cursor: pointer;
}


#talon_title {
    color: #0e4a4e;
    font-weight: 700;
    text-transform: uppercase;
}


.info_container {
    display: flex;
    margin: 2% 0 0 5%;
}

.change_password {
    position: absolute;
    left: 80%;
    /* flex-direction: column; */
    /* flex-basis: 100px; */
    /* flex-grow: 1; */
    /* text-align: center; */
    /* padding: 10px; */

}

.change_password button,
input {
    display: block;
    cursor: pointer;
}

.change_password form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    margin-top: 30px;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
}

.table td button {
    display: block;
    cursor: pointer;
}

.red_button {
    background-color: rgb(255, 0, 0);
    font-weight: 700;
    border: 0.5px solid;
    cursor: pointer;
    color: white;
}

.table td form {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    left: 10%;
}


.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.registration_card {
    width: 50%;
    height: 50%;
    margin-top: 2%;
    margin-left: 24%;
    border: solid 2px rgb(213, 218, 222);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#regtext {

    text-transform: uppercase;
}

input[type=button],
input[type=submit] {
    background-color: rgb(206, 227, 230);
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}