<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!--    <link rel="stylesheet" href="elib\src\main\resources\static\style.css">-->
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>

<p th:text="${message}"/>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <div class="registration_card">
        <h2 id="regtext">Форма авторизации</h2>
        <div>
            <!--                    <label for="name">Имя пользователя</label>-->
            <label>Имя пользователя: <input type="text" name="username" required placeholder="Введите имя пользователя..."/> </label>
            <!--                    <input type="text" name="username" required placeholder="Введите имя пользователя...">-->
        </div>
        <br>
        <div>
            <div><label>Пароль: <input type="password" name="password" required placeholder="Введите пароль..."/> </label></div>
        </div>
        <br>
        <button type="submit">Войти</button>

    </div>
    <br>
</form>
<CENTER>
    <form th:action="@{/registration_doctor}">
        <button type="submit" value="Зарегистрироваться как врач">Зарегистрироваться как врач</button>
    </form>
    <br>
    <br>
    <form th:action="@{/registration_patient}">
        <button type="submit" value="Зарегистрироваться как пациент">Зарегистрироваться как пациент</button>
    </form>
</CENTER>

</body>
</html>